script.py
backend/settings/dev.py
backend/settings/secret.json
backend/*/__pycache__/*
*/migrations/*
mydatabase
db.sqlite3

*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
